//- master blog

div(class='centered')
	form(action='/api/blog', method='post')
		div
			label Title
		br
		div
			input(type='text', name='title')
		br
		div
			label Content
		br
		div
			textarea(rows='10', cols='20', name='content')
		br
		duv
			input(type='submit', value='Upload')