//- master blog

div(class='blog')
	div(class='blog-header')
		| {{ sideBar.selectedItem.title }}
		ui-button-bar(ui-model='buttonBar')
	div(class='blog-content')
		| {{ sideBar.selectedItem.content }}