//- master gallery

div(class='artwork-browser')
	div(class='artwork-browser-content')
		div(class='artwork-browser-scroll-content')
			div(class='artwork-browser-thumbnail')
			div(class='artwork-browser-thumbnail')
			div(class='artwork-browser-thumbnail')
			div(class='artwork-browser-thumbnail')
			div(class='artwork-browser-thumbnail')
			div(class='artwork-browser-thumbnail')
			div(class='artwork-browser-thumbnail')
			div(class='artwork-browser-thumbnail')
			div(class='artwork-browser-thumbnail')
			div(class='artwork-browser-thumbnail')
			div(class='artwork-browser-thumbnail')
			div(class='artwork-browser-thumbnail')
			div(class='artwork-browser-thumbnail')
			div(class='artwork-browser-thumbnail')
			div(class='artwork-browser-thumbnail')
			div(class='artwork-browser-thumbnail')
			div(class='artwork-browser-thumbnail')
			div(class='artwork-browser-thumbnail')
			div(class='artwork-browser-thumbnail')
			div(class='artwork-browser-thumbnail')
	div(class='artwork-browser-footer')