//- master gallery

div(class='artwork-browser')
	div(class='artwork-browser-content')
		div(class='artwork-browser-scroll-content')
			div(class='artwork-browser-thumbnail'
				ng-repeat='artwork in artworks')
				//- to-do: change url to http://tyronjung.com/api/artwork/{{ artwork.title }}
				//- after moving image fetching api to unprotected api
				img(ng-src='http://localhost:9000/api/artwork/{{ artwork.title }}')
	div(class='artwork-browser-footer')