//- master home

div(class='home-news-list')
	div(class='home-news-list-header')
		| {{ homeNewsListHeader }}
	div(class='home-news-list-content')
		div(class='home-news-list-scroll-content')
			div(class='home-news-list-item',
				ng-repeat='item in homeNewsListItems')