//- master home

div(class='news-list')
	div(class='news-list-header')
		| {{ newsListHeader }}
		ui-button-bar(ui-model='headerButtonBar')
	div(class='news-list-content')
		div(class='news-list-scroll-content')
			div(class='news-list-item',
				ng-repeat='item in newsListItems')
				div(class='news-list-item-image',
					ng-class='{ "preloader preloader-intersection": true }')
				div(class='news-list-item-content')
					ui-button-bar(ui-model='item.buttonBar')