//- master upload

div(class='centered')
	form(action='/api/user', method='post')
		div
			label Upload user
		br
		div
			input(type='text', name='name')
		br
		div
			input(type='submit', value='Upload')