// classes.less



@import 'unity.less';

.left-column, .right-column {
	width: 20%;
	height: 100%;
}

.left-column {
	.linearGradient(@darkerGray, @darkGray);

	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.right-column {
	.linearGradient(@darkGray, @darkerGray);

	position: fixed;
	top: 0px;
	right: 0px;
	z-index: -1;
}

// Widget:

.Widget {
	.boxShadow(15px);
}

// SlideShow:

.SlideShow {
	& > .Buttons {
		.faintBlack(0.75);

		cursor: pointer;

		& > .LeftButton, .RightButton {
			position: relative;
			display: inline-block;
			width: 50%;
			height: 100%;

			&:hover {
				.faintWhite(0.75);
			}
			& > .ArrowIcon {
				box-sizing: border-box;

				.setInCenter(10px, 16px); // to-do: figure out why it has to be 16px
			}
		}

		& > .LeftButton {
			& > .ArrowIcon {
				.arrowLeft(10px, @teal);
			}
		}
		& > .RightButton {
			& > .ArrowIcon {
				.arrowRight(10px, @teal);
			}
		}
	}
}

// IFrame:

.IFrame {
	& > .ScrollBar {
		.faintWhite();

		& > .Scroller {
			background-color: @teal;
		}
	}
	& > .ScrollWindow {
		.faintBlack();
	}
}

// SideBar:

.SideBar {
	.faintBlack();
	
	& > .SideBarHeader {
		background-color: @teal;
		margin: 10px 0px 10px 0px;
	}

	& > .SideBarItem {
		&:hover {
			background-color: @teal;

			& > .SideBarItemIndicator {
				background-color: white;
			}
		}
		& > .SideBarItemIndicator {
			background-color: @teal;
		}
	}
}

// NavBar:

.NavBar {
	.boxShadow(); // no boxShadow

	& > .NavContent {
		.boxShadow(15px);

		.faintBlack();

		border-bottom: 5px solid @teal;
	}
}