/* test.css */



.Container {
	position: absolute;
	background-color: gray;
	border-radius: 10px;
	left: 50%;
	top: 50%;
	width: 1500px;
	height: 750px;
	margin-left: -750px;
	margin-top: -375px;
}

.LinkNode {
	position: relative;
	background-color: lightblue;
	border-radius: 5px;
	float: left;
	width: 150px;
	height: 450px;
	margin-left: 180px;
	margin-top: 150px;
}