<!-- about.html -->

<!-- remember to change the source directories -->

<!DOCTYPE HTML>

<html>

	<head>
		<link rel = 'stylesheet' type = 'text/css' href = '../styles/compiled/base.css'>
	</head>

	<body>
		<div class = "LeftColumn">
		</div>
		<div class = "AboutContainer">
			<div class = "AboutDiamond">
				<div class = "Teal DiamondContent">
					Me
				</div>
			</div>
			<div class = "AboutIFrame">
				<div class = "FaintWhite ScrollBar">
					<div class = "Teal Scroller">
					</div>
				</div>
				<div class = "FaintBlack ScrollWindow">
					<div class = "ScrollContent">
						<div class = "TextContent">
							As I was graduating high school, I couldn't decide whether to take the path of an <span class = "HighLight">engineer</span> or the path of an <span class = "HighLight">artist</span>. Engineering seemed appealing because it would allow me to practice my logic and take part in the advancement of human technology. However, the idea of studying art was equally as attractive, as art would give me the chance to unleash my creative potential. I felt very conflicted.
							<br><br>
							Luckily, the <span class = "HighLight">Systems Design Engineering</span> (SYDE) program at the University of Waterloo solved this problem for me. Soon after I began my life as a SYDE student, I realized that I didn't have to choose just one path - I could take both. I learned to analyze and design systems and devices as a whole - everything from their aesthetics to their mechanics. This allowed me to explore the field of engineering while retaining my identity as an artist.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class = "RightColumn">
		</div>
		<a href = "../index.html">
			<div class = "OuterMiniDiamond">
				<div class = "InnerMiniDiamond">
				</div>
				<div class = "Teal InnerMiniDiamond">
				</div>
				<div class = "Teal InnerMiniDiamond">
				</div>
			</div>
		</a>
	</body>

	<script src = '../modules/root.js'></script>
	<script src = '../modules/interface.js'></script>

</html>