<!-- externals.html -->

<!-- remember to change the source directories -->

<!DOCTYPE HTML>

<html>

	<head>
		<link rel = 'stylesheet' type = 'text/css' href = '../styles/compiled/base.css'>
	</head>

	<body>
		<div class = "LeftColumn">
		</div>
		<div class = "GridContainer">
			<div class = "SmallDiamond">
				<div class = "SmallContent">
					deviantART
				</div>
			</div>
			<div class = "SmallDiamond">
				<div class = "SmallContent">
					Facebook
				</div>
			</div>
			<div class = "SmallDiamond">
				<div class = "SmallContent">
					GitHub
				</div>
			</div>
			<div class = "SmallDiamond">
				<div class = "SmallContent">
					Google+
				</div>
			</div>
			<div class = "SmallDiamond">
				<div class = "SmallContent">
					Heroku
				</div>
			</div>
			<div class = "SmallDiamond">
				<div class = "SmallContent">
					Instagram
				</div>
			</div>
			<div class = "SmallDiamond">
				<div class = "SmallContent">
					LinkedIn
				</div>
			</div>
			<div class = "SmallDiamond">
				<div class = "SmallContent">
					pixiv
				</div>
			</div>
			<div class = "SmallDiamond">
				<div class = "SmallContent">
					Skype
				</div>
			</div>
			<div class = "SmallDiamond">
				<div class = "SmallContent">
					ThisisGame
				</div>
			</div>
			<div class = "SmallDiamond">
				<div class = "SmallContent">
					Tumblr
				</div>
			</div>
			<div class = "SmallDiamond">
				<div class = "SmallContent">
					Twitter
				</div>
			</div>
			<div class = "SmallDiamond">
				<div class = "SmallContent">
					YouTube
				</div>
			</div>
		</div>
		<div class = "RightColumn">
		</div>
		<div class = "IndexPopover">
			<div class = "PopoverContent">
				<a href = "about.html">
					<div class = "PopoverItem">
						About
					</div>
				</a>
				<a href = "portfolio.html">
					<div class = "PopoverItem">
						Portfolio
					</div>
				</a>
				<a href = "resume.html">
					<div class = "PopoverItem">
						Resume
					</div>
				</a>
				<a href = "externals.html">
					<div class = "PopoverItem">
						Externals
					</div>
				</a>
			</div>
			<div class = "Arrow">
			</div>
		</div>
		<a href = "../index.html">
			<div class = "OuterMiniDiamond">
				<div class = "InnerMiniDiamond">
				</div>
				<div class = "Teal InnerMiniDiamond">
				</div>
				<div class = "Teal InnerMiniDiamond">
				</div>
			</div>
		</a>
	</body>

	<script src = '../modules/root.js'></script>
	<script src = '../modules/interface.js'></script>

</html>