<!-- slideshow.html -->

<!-- remember to change the source directories -->

<!DOCTYPE HTML>

<html>

	<head>
		<link rel = 'stylesheet' type = 'text/css' href = '../styles/compiled/base.css'>
	</head>

	<body>
		<div class = "LeftColumn">
		</div>
		<div class = "RightColumn">
		</div>
		<div class = "SlideShowContainer">
			<div class = "SlideShow">
			</div>
			<div class = "Controller">
				<div class = "Previous">
				</div>
				<div class = "GalleryButton">
					<div class = "TinyBox">
					</div>
					<div class = "TinyBox">
					</div>
					<div class = "TinyBox">
					</div>
					<div class = "TinyBox">
					</div>
					<div class = "TinyBox">
					</div>
					<div class = "TinyBox">
					</div>
					<div class = "TinyBox">
					</div>
					<div class = "TinyBox">
					</div>
					<div class = "TinyBox">
					</div>
				</div>
				<div class = "Next">
				</div>
			</div>
		</div>
		<div class = "IndexPopover">
			<div class = "PopoverContent">
				<a href = "about.html">
					<div class = "PopoverItem">
						About
					</div>
				</a>
				<a href = "portfolio.html">
					<div class = "PopoverItem">
						Portfolio
					</div>
				</a>
				<a href = "resume.html">
					<div class = "PopoverItem">
						Resume
					</div>
				</a>
				<a href = "externals.html">
					<div class = "PopoverItem">
						Externals
					</div>
				</a>
			</div>
			<div class = "Arrow">
			</div>
		</div>
		<a href = "../index.html">
			<div class = "OuterMiniDiamond">
				<div class = "InnerMiniDiamond">
				</div>
				<div class = "Teal InnerMiniDiamond">
				</div>
				<div class = "Teal InnerMiniDiamond">
				</div>
			</div>
		</a>
	</body>

	<script src = '../modules/root.js'></script>
	<script src = '../modules/interface.js'></script>

</html>