// diamond classes

.artwork {
	img {
		display: block;
		margin: auto;
	}
}

.centered {
	.set-in-center(250px);
	font-size: @std-font-size;
}

.blog { // to-do: clean up style
	.widget; // to-do: this is not a widget

	.set-in-center(1000px, 800px);
}