// diamond classes

.artwork {
	width: 100%;
	height: 100%;
	position: relative; // holds absolute element within

	& > img {
		.box-shadow(@std-box-shadow); // to-do: temporary
		.center();

		cursor: pointer;
		max-width: @horizontal-golden-width;
		max-height: @horizontal-golden-height;
	}
}

.artwork-browser {
	.widget; // to-do: this is not a widget

	.set-in-center(@horizontal-golden-width, @horizontal-golden-height);

	& > .artwork-browser-content {
		& > .artwork-browser-scroll-content {
			& > .artwork-browser-thumbnail {
				border: 1px solid @wet-asphalt;

				&.selected {
					border: 1px solid @green-sea;

					&:after {
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						border: 2px solid @green-sea;
						content: '';
						pointer-events: none;
						position: absolute;
						z-index: 1;
					}
				}

				& > .artwork-browser-thumbnail-header, & > .artwork-browser-thumbnail-editor {
					.faint(black, 75%);
				}

				& > .artwork-browser-thumbnail-header {
					&.shown {
						transition: @std-transition;
						margin-top: 0;
					}

					&.hidden {
						transition: @std-transition;
						margin-top: -@artwork-browser-thumbnail-header-height;
					}

					// initial state
					margin-top: -@artwork-browser-thumbnail-header-height;
				}

				& > .artwork-browser-thumbnail-editor {
					&.shown {
						transition: @std-transition;
						margin-bottom: 0;
					}

					&.hidden {
						transition: @std-transition;
						margin-bottom: -@artwork-browser-thumbnail-header-height;
					}

					// initial state
					margin-bottom: -@artwork-browser-thumbnail-header-height;
				}
			}
		}
	}

	& > .artwork-browser-footer {
		background-color: @green-sea;
	}

	& > .artwork-browser-form {
		display: none;
	}
}

.blog { // to-do: clean up style
	.widget; // to-do: this is not a widget

	.set-in-center(@vertical-golden-width, @vertical-golden-height);

	& > .blog-header {
		background-color: @green-sea;

		& > input {
			width: 250px;
			height: @blog-header-font-size + 15px;
			border: none;
			color: white;
			font-family: @std-font-family;
			font-size: @blog-header-font-size;

			.center-vertically();
			.faint(black);
		}

		& > ui-button-bar {
			float: right;
		}
	}

	& > .blog-content > .blog-scroll-content {
		& > textarea {
			width: 100%;
			border: none;
			color: white;
			font-family: @std-font-family;
			font-size: @blog-content-font-size;
			padding: 0;
			resize: none;

			.faint(black);
		}
	}
}

.gallery {
	.set-in-center(100%, 100%);

	overflow-y: scroll; // always show scroll bar for scroll bar width calculation
}

@home-panel-width: @horizontal-golden-width / 3;

.home-container {
	.set-in-center(@home-panel-width * sqrt(2) * 2, @home-panel-width);

	& > .home-nav-panel, & > .home-news-panel {
		.rotate(45deg);
		.set-dimensions(@home-panel-width);

		display: inline-block;
		position: relative;
	}

	& > .home-news-panel {
		background-color: @green-sea;
		z-index: 1;
		margin-left: @home-panel-width * ((1 / sqrt(2)) - 1);
		margin-right: @home-panel-width * ((1 / sqrt(2)) - 1);
	}

	& > .home-nav-panel {
		&.left, &.right {
			background-color: @wet-asphalt;
		}
		
		&.left {
			margin-left: (sqrt(2) - 1) * @home-panel-width / 2;
		}

		& > .home-nav-panel-link, & > .home-nav-panel-filler {
			.set-dimensions(50%);

			display: inline-block;
			overflow: hidden;

			& > a.home-nav-panel-link-content {
				.rotate(-45deg);
				.set-dimensions(sqrt(2) * 100%);

				display: block;
				margin-left: -(@home-panel-width / 4) * (sqrt(2) - 1);
				margin-top: -(@home-panel-width / 4) * (sqrt(2) - 1);

				// font settings
				color: white;
				font-family: 'Century Gothic';
				font-size: @std-home-font-size;
				text-align: center;
				line-height: sqrt(2) * @home-panel-width / 2;
			}

			&.home-nav-panel-link-edge {
				background-color: @green-sea;
			}
		}
	}
}

.home-container-shadow {
	.set-in-center(@home-panel-width * sqrt(2) * 2, @home-panel-width);

	z-index: -1;

	& > .home-nav-panel-shadow, & > .home-news-panel-shadow {
		.box-shadow(@std-box-shadow);
		.rotate(45deg);
		.set-dimensions(@home-panel-width);

		display: inline-block;
		position: relative;
	}

	& > .home-news-panel-shadow {
		margin-left: @home-panel-width * ((1 / sqrt(2)) - 1);
		margin-right: @home-panel-width * ((1 / sqrt(2)) - 1);
	}

	& > .home-nav-panel-shadow {
		&.left {
			margin-left: (sqrt(2) - 1) * @home-panel-width / 2;
		}
	}
}

.centered { // to-do: remove
	.set-in-center(250px);
	
	font-size: @std-font-size;
}