// diamond tags

a {
	color: white;
}

body {
	background-color: @midnight-blue;
	color: white;
	font-family: @std-font-family;
	min-width: @std-width;
	min-height: @std-height;
	position: relative; // holds absolute element within
}