// diamond tags

a {
	color: white;
}

body {
	background-color: @midnight-blue;
	color: white;
	font-family: @std-font-family;
	min-width: @horizontal-golden-width;
	min-height: @vertical-golden-height;
	position: relative; // holds absolute element within
}