// diamond widgets

.widget {
	.box-shadow(15px);

	background-color: @wet-asphalt;
}

.side-bar {
	& > .side-bar-header {
		background-color: @green-sea;
		margin-bottom: 20px;
	}

	& > .side-bar-item {
		cursor: pointer;

		&:hover {
			color: @turquoise;
		}
	}

	&.slider {
		&.ng-enter {
			transition: 0.5s, ease-out, all;
			left: -@side-bar-width;

			&.ng-enter-active {
				opacity: 1;
				left: 0px;
			}
		}
	}
}