// diamond widgets

.widget {
	.box-shadow(@std-box-shadow);

	background-color: @wet-asphalt;
}

.bg-image {
	&.shown {
		opacity: 0.5;
	}

	&.hidden {
		opacity: 0;
	}
}

.button-bar {
	& > .button-bar-item {
		&:before {
			cursor: pointer;
			text-shadow: 0px 0px 5px black;
		}
	}
}

.combo-box {
	& > .combo-box-content {
		& > .combo-box-selected-item {
			background-color: @wet-asphalt;
		}

		& > .combo-box-item-container {
			.box-shadow(@std-box-shadow);

			background-color: @wet-asphalt;

			&.shown {
				transition: @std-transition;
				opacity: 1;
			}

			&.hidden {
				transition: @std-transition;
				opacity: 0;
				pointer-events: none;
			}

			& > .combo-box-item {
				&:hover {
					background-color: @green-sea;
				}
			}
		}
	}

	& > .combo-box-switch {
		background-color: @green-sea;
	}
}

.modal-dialog {
	& > .modal-dialog-msg {
		& > .modal-dialog-msg-header {
			background-color: @green-sea;
		}

		& > .modal-dialog-msg-button-container {
			& > .modal-dialog-msg-button {
				& > .modal-dialog-msg-button-content {
					background-color: @green-sea;

					&:hover {
						background-color: @turquoise;
					}
				}
			}
		}
	}
}

.modal-image {
	//
}

.nav-bar {
	& > .nav-bar-content { // animated nav bar
		&.shown {
			transition: @std-transition;
			margin-top: 0;

			.box-shadow(@std-box-shadow);

			& > .nav-bar-beacon > .nav-bar-beacon-shadow {
				transition: @std-transition;

				.box-shadow(@std-box-shadow);
			}
		}

		&.hidden {
			transition: @std-transition;
			margin-top: -@nav-bar-height;

			.box-shadow(0);

			& > .nav-bar-beacon > .nav-bar-beacon-shadow {
				transition: @std-transition;
				
				.box-shadow(0);
			}
		}

		& > .nav-bar-beacon {
			left: 0;
			right: 0;
			margin: auto;

			& > .nav-bar-beacon-content, & > .nav-bar-beacon-shadow {
				position: absolute;
				top: 50%;

				.set-dimensions(100%);
				.rotate(45deg);
			}

			& > .nav-bar-beacon-content {
				background-color: @green-sea;
				border: 1px solid white;
			}

			& > .nav-bar-beacon-shadow {
				z-index: -1;
			}
		}

		& > .nav-bar-item {
			&:hover > a, & > .nav-bar-expand > .nav-bar-sub-item:hover > a {
				color: @turquoise;
			}

			& > .nav-bar-expand {
				background-color: @wet-asphalt;
				z-index: -1;

				.box-shadow(@std-box-shadow);
			}
		}
	}
}

.side-bar {
	&.shown {
		transition: @std-transition;
		left: 0; // to-do: create use case for right side-bar

		.box-shadow(@std-box-shadow);
	}

	&.hidden {
		transition: @std-transition;
		left: -@side-bar-width; // to-do: create use case for right side-bar

		.box-shadow(0);
	}

	& > .side-bar-header {
		background-color: @green-sea;

		& > .icon.icon-bars {
			float: right;
			font-size: @button-bar-font-size;
		}
	}

	& > .side-bar-item-container {
		padding-top: 20px;
		padding-bottom: 20px;

		& > .side-bar-item {
			&:hover, &.selected {
				color: @turquoise;
			}

			&.side-bar-new-item {
				margin-bottom: 15px;

				&:hover > .side-bar-new-item-content {
					border: 2px solid @green-sea;
				}

				& > .side-bar-new-item-content {
					border: 2px solid white;
					text-align: center;
				}
			}
		}
	}
}