//- about

div(class='about-container')
	div(class='about-external-link')
	div(class='about-external-link')
	div(class='about-content')
		div(class='about-card')
			div(class='about-card-diamond')
				div(class='about-card-diamond-content')
					img(ng-src='{{ displayPicture.src }}')
			div(class='about-card-content')
		div(class='about-card-shadow')
			div(class='about-card-diamond-shadow')
			div(class='about-card-content-shadow')
	div(class='about-external-link')
	div(class='about-external-link')