//- blog

div(class='blog',
	ng-class='{ "preloader preloader-intersection": !sideBar.selectedItem.content }')
	div(class='blog-header')
		| {{ sideBar.selectedItem.title }}
	div(class='blog-content')
		div(class='blog-scroll-content')
			| {{ sideBar.selectedItem.content }}