//- danryan

div(class='centered').
	Hello Dan Ryan. Sorry it took so long to add your name to the server logic.
	It has been hardcoded into the API and I have created this partial view,
	dedicated to you and you only. S2