//- home

div(class='home-container')
	div(class='left home-nav-panel')
		div(class='home-nav-panel-link')
			div(class='home-nav-panel-link-content')
		div(class='home-nav-panel-filler')
		div(class='home-nav-panel-link')
			div(class='home-nav-panel-link-content')
		div(class='home-nav-panel-link')
			div(class='home-nav-panel-link-content')
	div(class='home-news-panel')
	div(class='right home-nav-panel')
		div(class='home-nav-panel-link')
			div(class='home-nav-panel-link-content')
		div(class='home-nav-panel-link')
			div(class='home-nav-panel-link-content')
		div(class='home-nav-panel-filler')
		div(class='home-nav-panel-link')
			div(class='home-nav-panel-link-content')
div(class='home-container-shadow')
	div(class='left home-nav-panel-shadow')
	div(class='home-news-panel-shadow')
	div(class='right home-nav-panel-shadow')