//- resume

div(class='resume-container')
	div(class='resume-header')
		| {{ resumeHeader }}
		ui-button-bar(ui-model='buttonBar')
	div(class='resume-content')
		div(class='resume-scroll-content')
			div(class='resume-content-header')
				div(class='resume-content-header-icon icon icon-{{ resumeContent[0].header.icon }}')
				| {{ resumeContent[0].header.title }}
			div(class='resume-content-body',
				ng-repeat='item in resumeContent[0].items')
				div(class='resume-content-body-header')
					div(class='resume-content-body-header-left')
						| {{ item.title }}, {{ item.company }}
					div(class='resume-content-body-header-right')
						| {{ item.duration }}
				div(class='resume-content-body-detail',
					ng-repeat='task in item.tasks')
					div(class='resume-content-body-detail-diamond')
					div(class='resume-content-body-detail-text')
						| {{ task }}
	div(class='resume-content')
		div(class='resume-scroll-content')
			div(class='resume-content-header')
				div(class='resume-content-header-icon icon icon-{{ resumeContent[1].header.icon }}')
				| {{ resumeContent[1].header.title }}
			div(class='resume-content-body',
				ng-repeat='item in resumeContent[1].items')
				div(class='resume-content-body-header')
					div(class='resume-content-body-header-left')
						| {{ item.title }}
					div(class='resume-content-body-header-right')
						| {{ item.duration }}
				div(class='resume-content-body-detail',
					ng-repeat='task in item.tasks')
					div(class='resume-content-body-detail-diamond')
					div(class='resume-content-body-detail-text')
						| {{ task }}
	div(class='resume-content')
		div(class='resume-scroll-content')
			div(class='resume-content-header')
				div(class='resume-content-header-icon icon icon-{{ resumeContent[2].header.icon }}')
				| {{ resumeContent[2].header.title }}
			div(class='resume-content-grid')