//- special

div(class='special-letter')
div(class='special-letter-cover-container',
	ng-click='openLetter()',
	ng-class='{ "opened dropped": letterOpened, closed: !letterOpened }')
	div(class='special-letter-cover left')
	div(class='special-letter-cover right')
	div(class='special-letter-cover top')
		div(class='top-rectangle')
		div(class='top-triangle')
		div(class='top-seal')