//- special

div(class='special-container',
	ng-click='openLetter()')
	div(class='special-letter-cover left')
	div(class='special-letter-cover right')
	div(class='special-letter-cover top',
		ng-class='{ opened: letterOpened, closed: !letterOpened }')
		div(class='top-rectangle')
		div(class='top-triangle')
		div(class='top-seal')