// colors.less



@import 'unity.less';

.faintWhite(@opacity: 0.25) {
	background-color: white; // fallback
	background-color: rgba(255, 255, 255, @opacity);
}

.faintBlack(@opacity: 0.25) {
	background-color: black; // fallback
	background-color: rgba(0, 0, 0, @opacity);
}