// values.less



@import 'unity.less';

// standard values:

@stdFont: 'Century Gothic';
@stdRadius: 5px;

// IFrame:

@scrollBarWidth: 20px;
@scrollerHeight: @scrollBarWidth * 2;
@textMargin: 15px;

// SlideShow:

@slideShowWidth: 1000px;
@slideShowHeight: @slideShowWidth / 1.6;

// SideBar:

@sideBarWidth: 250px;
@sideBarHeaderWidth: 100%;
@sideBarHeaderHeight: 50px;
@sideBarHeaderFontSize: 30px;
@sideBarItemWidth: 100%;
@sideBarItemHeight: 30px;
@sideBarItemFontSize: 16px;
@sideBarTextPadding: 10px;
@sideBarItemIndicatorWidth: 5px;
@sideBarItemIndicatorHeight: 100%;

// Gallery:

@galleryWidth: @slideShowWidth - @scrollBarWidth;
@numThumbnails: 3; // subject to change
@thumbnailMargin: 10px;
@thumbnailWidth: (@galleryWidth - (@thumbnailMargin * (@numThumbnails + 1))) / @numThumbnails;
@thumbnailHeight: @thumbnailWidth / 1.6;