//- background image

div(class='bg-image',
	ng-class='{ shown: model.inUse, hidden: !model.inUse }',
	style='background-image: url("http://' + locationHost + '/api/image/{{ model.imageCategory }}/{{ model.imageTitle }}");')