//- nav bar

div(class='nav-bar', ng-mouseover='model.inUse = true', ng-mouseleave='model.inUse = false')
	div(class='nav-bar-content', ng-class='{ shown: model.inUse, hidden: !model.inUse }')
		div(class='nav-bar-item', ng-repeat='item in model.items')
			a(ng-href='{{ item.href }}')
				| {{ item.title }}
			//- sub items
			div(class='nav-bar-expand', ng-if='item.subItems')
				div(class='nav-bar-sub-item', ng-repeat='subItem in item.subItems')
					a(ng-href='{{ subItem.href }}')
						| {{ subItem.title }}