//- side bar

//- to-do: make the left/right class configurable; also consider using ng-init
div(class='left side-bar',
	ng-class='{ shown: model.inUse, hidden: !model.inUse }')
	div(class='side-bar-header')
		| {{ model.title }}
		div(class='icon icon-bars')
	div(class='side-bar-item',
		ng-repeat='item in model.items',
		ng-class='{ selected: item === model.selectedItem }',
		ng-click='model.selectItem(item)')
		| {{ item.title }}