// portfolio.less



@import "base.less"; // change the import settings later

// Standard Values:

@numlinks: 3;
@stdmargin: 125px;

// Mixins:

.reflect(@height, @length: 50%, @opacity: 0.25){ // not standardized across browsers yet
	-webkit-box-reflect: below @height -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(@length, transparent), to(rgba(255, 255, 255, @opacity)));
}

.formatBackground(){
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

// Classes:

.LinkContainer {
	.setInCenter(@numlinks * (@diamondsize / 2) + (@numlinks + 1) * @stdmargin, (@diamondsize / 2));

	& > * {
		margin-left: @stdmargin;
	}
}

.Diamond {
	.InnerDiamond;

	.boxShadow(50px, @darkergray);
	.rotate(-45deg);
}

.OuterMiniDiamond {
	.boxShadow(1px, white);
	.rotate(-45deg);
	.setDimensions(@diamondsize / 16);

	background-color: @darkergray;
	position: fixed;
	right: 50px;
	top: 50px;

	& > .InnerMiniDiamond {
		.setDimensions(@diamondsize / 32);
		.stackLeft;
	}
}