// default classes

// to-do: clean up the unnecessary styles such as width: 100%
// to-do: also place mix-ins above standard styles
.image-browser {
	& > .image-browser-content {
		width: 100%;
		overflow: auto;
		
		.calc-height(~'100% - '@image-browser-footer-height);

		& > .image-browser-scroll-content {
			width: 100%;

			& > .image-browser-thumbnail {
				width: @image-browser-thumbnail-width;
				display: inline-block;
				overflow: hidden;
				padding-bottom: @image-browser-thumbnail-width; // hack for making the height same as width
				position: relative; // holds absolute element within

				& > .image-browser-thumbnail-header, & > .image-browser-thumbnail-editor {
					width: 100%;
					height: @image-browser-thumbnail-header-height;
					line-height: @image-browser-footer-height;
					font-size: @image-browser-thumbnail-header-font-size;
					position: absolute;
					text-align: center;
					z-index: 1;

					.contain-text();
				}

				& > img {
					width: 100%; // to-do: deal with horizontally wider images
					cursor: pointer;

					.center();
				}

				& > .image-browser-thumbnail-editor {
					bottom: 0;
				}
			}
		}
	}

	& > .image-browser-footer {
		width: 100%;
		height: @image-browser-footer-height;
		line-height: @image-browser-footer-height;
		text-align: center;
	}
}

.blog {
	& > .blog-header {
		width: @blog-header-width;
		height: @blog-header-height;
		font-size: @blog-header-font-size;
		line-height: @blog-header-height;
		padding-left: @blog-text-padding;
		padding-right: @blog-text-padding;
		position: relative; // holds absolute input tag in place
	}

	& > .blog-content {
		overflow: auto;

		.calc-height(~'100% - '@blog-header-height);

		& > .blog-scroll-content {
			font-size: @blog-content-font-size;
			padding: @blog-text-padding;
			white-space: pre-wrap; // displays new lines correctly
		}
	}
}