// default classes

// to-do: clean up the unnecessary styles such as width: 100%
.artwork-browser {
	& > .artwork-browser-content {
		width: 100%;
		overflow: auto;
		
		.calc-height(~'100% - '@artwork-browser-footer-height);

		& > .artwork-browser-scroll-content {
			width: 100%;

			& > .artwork-browser-thumbnail {
				width: @artwork-browser-thumbnail-width;
				display: inline-block;
				overflow: hidden;
				padding-bottom: @artwork-browser-thumbnail-width; // hack for making the height same as width
				position: relative; // holds absolute element within

				& > img {
					width: 100%;
					cursor: pointer;

					.center();
				}
			}
		}
	}

	& > .artwork-browser-footer {
		width: 100%;
		height: @artwork-browser-footer-height;
	}
}

.blog {
	& > .blog-header {
		width: @blog-header-width;
		height: @blog-header-height;
		font-size: @blog-header-font-size;
		line-height: @blog-header-height;
		padding-left: @blog-text-padding;
		padding-right: @blog-text-padding;
		position: relative; // holds absolute input tag in place
	}

	& > .blog-content {
		overflow: auto;

		.calc-height(~'100% - '@blog-header-height);

		& > .blog-scroll-content {
			font-size: @blog-content-font-size;
			padding: @blog-text-padding;
			white-space: pre-wrap; // displays new lines correctly
		}
	}
}