// default tags

@import 'all.less';

* {
	.box-sizing(border-box);

	font-family: 'Open Sans', sans-serif; // all supported fonts are sans-serif
}

a {
	text-decoration: none; // prevent default blue highlighting
}

body {
	font-size: 0px; // for in-line blocks
	margin: 0px;
}

html, body {
	height: 100%;
}