// default tags

@import 'all.less';

* {
	.box-sizing(border-box);
}

a {
	text-decoration: none; // prevent default blue highlighting
}

body {
	margin: 0px;
	font-size: 0px; // for in-line blocks
}

html, body {
	height: 100%; // to-do: necessary?
}