// default variables

@import 'all.less';

// mathematical constants
@golden-ratio: (1 + sqrt(5)) / 2;
@pi: pi();

// side bar settings
@side-bar-width: 250px;
@side-bar-header-width: 100%;
@side-bar-header-height: 75px;
@side-bar-header-font-size: 30px;
@side-bar-item-width: 100%;
@side-bar-item-height: 30px;
@side-bar-item-font-size: 16px;
@side-bar-text-padding: 25px;