// default variables

// mathematical constants
@golden-ratio: (1 + sqrt(5)) / 2;
@pi: pi();

// standard values
@std-box-shadow: 15px;
@std-font-size: 15px;
@std-header-font-size: 30px;
@std-margin: 30px;
@std-text-padding: 30px;
@std-transition: all 0.5s cubic-bezier(0, 1, 1, 1);
@std-transition-delay: 1s;

// blog settings
@blog-header-width: 100%;
@blog-header-height: 75px;
@blog-header-font-size: @std-header-font-size;
@blog-content-font-size: @std-font-size;
@blog-text-padding: @std-text-padding;

// button bar settings
@button-bar-font-size: 20px;
@button-bar-item-margin: 20px;

// combo box settings
@combo-box-font-size: @std-font-size;
@combo-box-width: 200px;
@combo-box-height: 40px;
@combo-box-switch-width: @combo-box-height;
@combo-box-text-padding: @std-text-padding / 2;

// image browser settings
@image-browser-thumbnail-width: 20%;
@image-browser-thumbnail-header-font-size: @std-font-size;
@image-browser-thumbnail-header-height: 50px;
@image-browser-footer-height: 50px;

// modal dialog settings
@modal-dialog-msg-width: 400px;
@modal-dialog-msg-height: 250px;
@modal-dialog-msg-header-height: 50px;
@modal-dialog-msg-content-height: 150px;
@modal-dialog-msg-text-padding: @std-text-padding / 2;
@modal-dialog-msg-button-height: 50px;
@modal-dialog-msg-button-padding: 10px;
@modal-dialog-msg-font-size: @std-font-size;

// modal selector settings
@modal-selector-font-size: @std-font-size;
@modal-selector-width: 800px;
@modal-selector-height: 500px;
@modal-selector-footer-height: 50px;
@modal-selector-image-width: 20%;
@modal-selector-button-width: 120px;
@modal-selector-button-height: 40px;
@modal-selector-button-margin: 5px;

// nav bar settings
@nav-bar-width: 750px;
@nav-bar-height: 30px;
@nav-bar-beacon-width: @nav-bar-height;
@nav-bar-beacon-height: @nav-bar-height;
@nav-bar-item-width: @nav-bar-width / 6;
@nav-bar-item-height: @nav-bar-height;
@nav-bar-item-font-size: @std-font-size;
@master-nav-bar-width: 1000px;
@master-nav-bar-item-width: @master-nav-bar-width / 8;

// news list settings
@news-list-header-height: 75px;
@news-list-header-font-size: @std-header-font-size;
@news-list-text-padding: @std-text-padding;
@news-list-item-height: @news-list-header-height * 2;
@news-list-item-margin: 2px;
@news-list-item-image-width: @news-list-item-height;
@news-list-item-content-padding: @std-text-padding / 2;

// resume settings
@resume-height: @horizontal-golden-height;
@resume-header-height: 75px;
@resume-content-width: 40%;
@resume-content-header-font-size: 20px;
@resume-content-header-icon-width: 50px;
@resume-border-width: 3px;
@resume-content-body-header-height: 45px;
@resume-content-grid-diamond-width: 50px;

// side bar settings
@side-bar-width: 250px;
@side-bar-header-width: 100%;
@side-bar-header-height: 75px;
@side-bar-header-font-size: @std-header-font-size;
@side-bar-item-width: 100%;
@side-bar-item-height: 30px;
@side-bar-item-font-size: @std-font-size;
@side-bar-text-padding: @std-text-padding;