// default widgets

@import 'all.less';

.widget {
	// styles for all widgets
}

.i-frame {
	.widget;
	
	// .set-in-center(@slide-show-width, @slide-show-height);

	& > .scroll-window {
		height: 100%;
		overflow: hidden;

		& > .scroll-content { // refer to legacy code for text content styling
			position: relative;
			width: 100%;
			text-align: left;
			// box-sizing: border-box; // box-sizing is applied to all elements
			padding: 20px;
		}
	}
	
	& > .scroll-bar {
		float: right;
		// width: @scroll-bar-width;
		height: 100%;

		& > .scroller {
			position: relative;
			width: 100%;
			// height: @scroller-height;
		}
	}
}

.slide-show {
	.widget;
	
	// .set-in-center(@slide-show-width, @slide-show-height);

	overflow: hidden;

	& .slide {
		background-color: black;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		display: inline-block;
		position: relative;
	}

	& .buttons {
		position: absolute;
		left: 50%;
		bottom: 0;
		z-index: 1;
	}
}

.side-bar {
	.widget;
	
	width: @side-bar-width;
	height: 100%;
	position: fixed;
	top: 0;

	&.left {
		left: 0;
	}

	&.right {
		right: 0;
	}

	& > a {
		display: block;
	}

	& > .side-bar-header, .side-bar-item {
		position: relative;
		padding-left: @side-bar-text-padding;
	}

	& > .side-bar-header {
		width: @side-bar-header-width;
		height: @side-bar-header-height;
		line-height: @side-bar-header-height;
		font-size: @side-bar-header-font-size;
	}

	& > .side-bar-item {
		width: @side-bar-item-width;
		height: @side-bar-item-height;
		line-height: @side-bar-item-height;
		font-size: @side-bar-item-font-size;

		& > .side-bar-item-indicator {
			// width: @side-bar-item-indicator-width;
			// height: @side-bar-item-indicator-height;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

.nav-bar {
	.widget;
	
	left: 50%;
	position: fixed;
	z-index: 1;

	& > a.nav-bar-item {
		width: @nav-bar-item-width;
		height: @nav-bar-item-height;
		line-height: @nav-bar-item-height;
		text-align: center;
		display: inline-block;
		font-size: @nav-bar-item-font-size;
	}
}