//- index
//- the isLocalHost variable is passed in through the router's getIndex method

extends layout

block view
	//- to-do: consider using ng-cloak for each individual element for progressive rendering
	div(ng-controller='MainCtrl',
		ng-cloak)
		//- to-do: remove isLocalHost condition
		if isLocalHost
			ui-bg-image(ui-model='bgImage')
			ui-modal-dialog(ui-model='modalDialog')
			ui-nav-bar(ui-model='navBar')
			ui-side-bar(ui-model='sideBar')
		//- partial view
		div(ng-view)