//- index
//- the isLocalHost variable is passed in through the router's getIndex method

extends layout

block view
	//- to-do: consider using ng-cloak for each individual element for progressive rendering
	div(ng-controller='MainCtrl', ng-cloak)
		//- to-do: remove isLocalHost condition
		if isLocalHost
			ui-side-bar(ui-model='sideBar')
			ui-nav-bar(ui-model='navBar')

		div(ng-view)