//- index
//- the isLocalHost variable is passed in through the router's getIndex method

extends layout

block view
	//- to-do: consider using ng-cloak for each individual element for progressive rendering
	div(ng-controller='MainCtrl', ng-cloak)
		//- to-do: remove isLocalHost condition
		if isLocalHost
			//- to-do: use a prefix (ex. ng-) for directives
			side-bar(model='sideBar')
			nav-bar(model='navBar')

		div(ng-view)