//- layout
//- the isLocalHost variable is passed in from index.jade

html
	head
		meta(charset='utf8')
		base(href='/')

		if isLocalHost
			//- less
			script less = { async: true, logLevel: 0 } // disables less log
			link(rel='stylesheet/less', type='text/css', href='less/fonts/all.less')
			link(rel='stylesheet/less', type='text/css', href='less/all.less')
			script(src='js/lib/less.min.js')
		else
			//- css
			link(rel='stylesheet', type='text/css', href='css/all.css')

			//- fonts
			link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato')
			link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans')
			link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Ubuntu')

	body
		block view

		//- js
		script(data-main='js/app.js', src='js/lib/require.js')
		script(src='js/config.js')