//- the isLocalHost variable is passed in from index.jade

html
	head
		meta(charset='utf8')
		base(href='/')

		if isLocalHost
			//-less
			script less = { async: true, logLevel: 0 } // disables less log
			link(rel='stylesheet/less', type='text/css', href='less/test.less')
			script(src='js/lib/less.min.js')
		else
			//-css
			link(rel='stylesheet', type='text/css', href='css/test.css')

	body
		block body

		//- js
		script(data-main='js/app.js', src='js/lib/require.js')
		script(src='js/config.js')